.family {
    background-color: var(--color-dark-alternate);

    &__header {
        padding-top: 132px;
        padding-bottom: 62px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 7px;
    }

    &__description {
        font-size: 20px;
        text-align: center;
        line-height: 1.65;
        text-transform: uppercase;
        color: var(--color-light);
    }

    &__description:not(:last-child) {
        margin-bottom: 62px;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: stretch;
        column-gap: 24px;
        padding-inline: 15px;
    }
}

@media (max-width: 1024px) {
    .family__body {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .family__header {
        padding-top: 60px;
        padding-bottom: 50px;
    }

     .family__image {
        width: 320px;
    }

}

@media (max-width: 767px) {

    .family__body {
        gap: 18px;
    }

    .family__image {
        width: 290px;
    }
}
