.join-us {
    &__video-wrapper {
        position: relative;
        padding: 150px 30px;
        background: url(../../image/join-us-bg.jpg) center/cover no-repeat var(--color-dark-alternate);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__video-play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 200px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 4px;
        background-color: transparent;
        border: var(--border);
        border-radius: 50%;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--color-light);
    }

    ::after {
        content: '';
        width: 26px;
        aspect-ratio: 1;
        transition-duration: var(--transition-duration);
        background: url(../../icon/arrow-top-right.svg) center/contain no-repeat;
    }

    :hover {
        color: var(--color-dark);
        background-color: var(--color-light-grey);
    }

    :hover::after {
        filter: invert(1);
    }
}