.main-navigation {

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        height: 90px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1.2px;
        column-gap: 7px;
    }

    &__link.is-current::after {
        content: "";
        width: 5px;
        height: 5px;
        aspect-ratio: 1;
        background-color: currentColor;
        border-radius: 50%;
        display: grid;
    }

}

@media (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        padding-top: 20px;
        row-gap: 10px;
        padding-inline: 15px;
    }

    .main-navigation {
        order: 1;
        flex-basis: 100%;
    }

    .main-navigation__link {
        height: 50px;
    }
}

@media (max-width: 767px) {
    .header {
        padding-top: 10px;
    }

    .header__actions {
        column-gap: 15px;
    }

    .main-navigation__list {
        column-gap: 24px;
     }

    .main-navigation__link {
     height: 32px;
    }
}