.training-types {
    position: relative;
    max-width: 1920px;
    margin-inline: auto;
    padding-top: 70px;
    padding-bottom: 120px;
    background-color: var(--color-dark);

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 60px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 32px;
        background: url(../../icon/tranparent-arrow-bottom-left.svg) 100% 0/var(--trainingTypesItemBgIconSize) no-repeat;
        padding-top: var(--trainingTypesItemBgIconSize);
    }

    &__image {
        height: 100%;
    }
}

@media (max-width: 1280px) {
    .training-types__list {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media (max-width: 767px) {
    .training-types__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .training-types__item {
        row-gap: 24px;
    }

}