body {
    background-color: var(--color-dark-alternate);
    font-family: var(--font-family-base);
    color: var(--color-light-grey);
    font-size: 16px;
    line-height: 1.75;
}

p {
    margin-block: 0;
}

p:not([class]):not(:last-child) {
    margin-bottom: 24px;
}

a {
    color: var(--color-light);
}

a:hover {
    color: var(--color-light-grey);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-light);
}

.input {
    width: 100%;
    height: var(--input-height);
    padding-inline: 25px;
    background-color: transparent;
    border: 1px solid var(--color-light-grey);
    border-radius: var(--border-radius);
    color: var(--color-light);
}

.input::placeholder {
    color: var(--color-light-grey);
}

.input:hover {
    border-color: var(--color-light);
}

.input:focus {
    color: var(--color-dark);
    background-color: var(--color-light);
    outline: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

