.button {
    display: inline-flex;
    align-items: center;
    height: 38px;
    padding-inline: 26px;
    line-height: 2;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border-color: var(--color-light);
    border: none;
    border-radius: var(--border-radius);
    white-space: nowrap;
    text-decoration: none;

    &:hover {
        background-color: var(--color-light-grey);
    }
}

.button.transparent {
    position: relative;
    height: var(--input-height);
    padding-left: 37px;
    padding-right: 80px;
    color: var(--color-light);
    background-color: transparent;
    border: var(--border);
}

.button.transparent::after {
    content: '';
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    background: url('../../icon/arrow-top-right.svg') center/70% no-repeat;
    border: var(--border);
    border-radius: 50%;
    right: 0;
}

.button.transparent:hover {
    color: var(--color-dark);
    background-color: var(--color-light-grey);
}


@media (max-width: 767px) {
    .button {
        padding-inline: 10px;
    }
}